{% load static %}

<nav class="nav-container">
    <div class="navbar-div-left"> 
        <a href="{% url 'register' %}" class="web-logo">
            <div class="nav-element">
                <img src="{% static 'images/BRAND_LOGO.png' %}" height="40" alt="logo"/>
            </div>
        </a>
        <a href="" class="nav-interactable">
            <div class="nav-element"> Pricing </div>
        </a>
        <a href="" class="nav-interactable">
            <div class="nav-element"> About Us </div>
        </a>
    </div>
    <div class="navbar-div-right">
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="nav-interactable">
                <div class="nav-element"> Logout </div>
            </a>
        {% else %}
            <a href="{% url 'login' %}" class="nav-interactable">
                <div class="nav-element"> Sign In </div>
            </a>
        {% endif %}
    </div>
</nav>